<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Fufu.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FF1C7B701E431A8900A86C4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF1C7B891E431A8A00A86C4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF1C7B941E431A8A00A86C4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
